* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 5.31vw;
  height: 100%;
  /* border: 4px solid violet; */
}
@media screen and (min-width: 768px) {
  html {
    font-size: 2.76vw;
  }
}

body {
  /* border: 5px solid green; */
  height: 100%;
}

* {
  /* border: 1px solid red; */
}
